@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: #66ff;
  color: #fff;
}

.hamburger-button {
  background: none;
  border: none;
  color: #fff;
}

.hamburguer-elements {
  display: none;
}

.presentation {
  text-align: start;
  padding: 8%;
  margin-top: 20%;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.description {
  padding: 5%;
}

.icons {
  display: flex;
  list-style-type: none;
}

.img {
  width: 50%;
}
