@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

.fa-cubes {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.fa-bars {
  transition: 1s;
}

.fa-bars:hover {
  transform: rotate(360deg);
}

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: #66ff;
  color: #fff;
  position: fixed;
  width: 100vw;
}

.hamburger-button {
  background: none;
  border: none;
  color: #fff;
}

.hamburguer-elements {
  display: none;
}

.presentation {
  font-family: 'Merriweather', serif;
  color: #273746;
  text-align: start;
  padding: 8%;
  margin-top: 20%;
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-shadow: 3px 3px 3px teal;
}

.first-section {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  overflow-x: hidden;
  border-bottom-left-radius: 15%;
}

li #twitter {
  box-shadow: 5px 5px 5px teal;
  border-radius: 10px;
  transition: 1s;
}

li #twitter:hover {
  width: 100%;
  height: 100%;
}

li #linkedin {
  box-shadow: 5px 5px 5px teal;
  border-radius: 10px;
  transition: 1s;
}

li #linkedin:hover {
  width: 100%;
  height: 100%;
}

li #gmail {
  box-shadow: 5px 5px 5px teal;
  border-radius: 10px;
  transition: 1s;
}

li #gmail:hover {
  width: 100%;
  height: 100%;
}

li #github {
  box-shadow: 5px 5px 5px teal;
  border-radius: 10px;
  transition: 1s;
}

li #github:hover {
  width: 100%;
  height: 100%;
}

.description {
  padding: 5%;
}

.conect {
  padding: 5%;
}

h3 {
  color: #273746;
}

.icons {
  display: flex;
  list-style-type: none;
  width: 70%;
  margin-top: 4%;
}

.img {
  width: 70%;
  cursor: pointer;
}

/* Card one */

.project-one {
  border: 1px solid #dfe1e6;
  padding: 0%;
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  border-radius: 3%;
}

.img-position {
  background-color: #396df2;
  border-radius: 8px;
  padding-bottom: 5%;
  margin: 5% 5% 5% 5%;
  box-shadow: 5px 5px 5px teal;
}

.img-position img {
  width: 78%;
  height: 28vh;
  margin-top: 5%;
  transition: 2s;
}

.img-position img:hover {
  width: 150%;
  height: 150%;
}

.img-position span {
  display: flex;
  justify-content: center;
}

.text {
  padding: 7%;
}

.title {
  color: #273746;
  text-shadow: 2px 2px 2px teal;
}

.ul-lenguajes {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  margin-top: 5%;
}

.ta {
  border: 1px solid #ebebff;
  background-color: #ebebff;
  font-size: 90%;
  padding: 1%;
  border-radius: 8px;
  color: #6070ff;
  box-shadow: 5px 5px 5px teal;
}

.paragraph {
  margin-top: 8%;
}

.ul-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
  margin-top: 20%;
}

.see-project {
  margin-top: 10%;
  font-size: 2rem;
  background: #fff;
  border-color: #396df2;
  padding: 5% 10%;
  color: #396df2;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 5px teal;
  transition: background-color 2s;
}

.see-project:hover {
  background: #396df2;
  color: #fff;
}

#html5 {
  box-shadow: 5px 5px 5px teal;
  border-radius: 10px;
  transition: 1s;
}

#html5:hover {
  transform: rotate(360deg);
}

#css3 {
  box-shadow: 5px 5px 5px teal;
  border-radius: 10px;
  transition: 1s;
}

#css3:hover {
  transform: rotate(360deg);
}

#js {
  box-shadow: 5px 5px 5px teal;
  border-radius: 10px;
  transition: 1s;
}

#js:hover {
  transform: rotate(360deg);
}

/* About */

.about {
  padding: 3%;
}

.about-connect {
  padding: 8%;
}

.ul-about {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.ul-about a {
  text-decoration: none;
  border: 1px solid #ebebff;
  background-color: #ebebff;
  font-size: 90%;
  padding: 5%;
  border-radius: 8px;
  color: #6070ff;
  box-shadow: 5px 5px 5px teal;
}

.about-t {
  transition: 1s;
}

.about-t:hover {
  transform: translateX(2em);
}

.about-l {
  transition: 1s;
}

.about-l:hover {
  transform: translateX(2em);
}

.about-a {
  transition: 1s;
}

.about-a:hover {
  transform: translateX(2em);
}

.about-g {
  transition: 1s;
}

.about-g:hover {
  transform: translateX(2em);
}

.anchor-div {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;
}

span .anchor {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #6070ff;
  color: #fff;
  font-size: 30px;
  border-radius: 8px;
  padding: 5%;
  box-shadow: 5px 5px 5px teal;
  box-shadow: 0 0 40px 40px #6070ff inset, 0 0 0 0 #6070ff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

span .anchor:hover {
  box-shadow: 0 0 10px 0 #6070ff inset, 0 0 10px 4px #6070ff;
  color: #6070ff;
}

.skills {
  padding: 7%;
}

.languajes-skills {
  display: none;
  list-style-type: none;
  margin-top: 7%;
}

.languajes-skills.active {
  display: flex;
  flex-direction: column;
}

.languajes-skills li {
  margin-bottom: 5%;
  border: 1px solid #f7f7f9;
  background: #f7f7f9;
  border-radius: 8px;
}

.frameworks-skills.active {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 7%;
}

.frameworks-skills {
  display: none;
}

.frameworks-skills li {
  margin-bottom: 5%;
  border: 1px solid #f7f7f9;
  background: #f7f7f9;
  border-radius: 8px;
  gap: 10rem;
}

.frameworks {
  margin-top: 10%;
  color: #273746;
  text-shadow: 5px 5px 5px teal;
}

.languajes {
  color: #273746;
  text-shadow: 5px 5px 5px teal;
}

.column {
  vertical-align: middle;
  margin-right: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.arrow-down {
  background: none;
  border: none;
  color: #273746;
  cursor: pointer;
}

.arrow-down.active {
  transition: 5ms;
}

.arrow-down.active:hover {
  transform: rotate(180deg);
}

#arrow {
  margin-top: 10%;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow.active {
  transition: 5ms;
}

.arrow.active:hover {
  transform: rotate(180deg);
}
